@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
.textbox {
  display: flex;
  justify-content: center;
}
textarea {
  resize: none;
  width: 190px;
  height: 260px;
  padding: 5px;
}
p {
  margin-top: 4px;
  text-align: center;
}

p span {
  font-weight: bold;
  color: red;
}
